<div class="col-10 offset-1 about">
	<h1>About Splurty2</h1>

	<p>
		Splurty2 is actually my 2nd attempt!  It was built by <a target="_blank" href="https://github.com/GupDaddy">Chris Guthrie</a>.  A newbie to the glamourous world of Web App Development and is wanting to learn the 21st Century way of coding.
	</p>
	<br />
	<p>
    	If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
	</p>

	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'cbg_about.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Chris Guthrie</h2>
			<br />
			<p>
				Chris Guthrie is learning web development while leading a team of 7 MEDITECH MAGIC developers for HCA ITG.
			</p>
		</div>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />